.container {

  width: 80%;
  max-width: 1320px;
  margin-inline: auto;
  border: 2px solid red;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 350px 250px 300px;
  grid-template-rows: 350px 200px; */
  /* grid-template-rows: 350px 350px; */
  gap: 30px;
  /* row-gap: 30px; */
  /* justify-content: center; */
  /* justify-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: space-between; */

}


.item {
  /* width: 150px;
  height: 150px; */
  height: 250px;
  color: #fff;
  font-size: 40px;
  background-color: brown;
}
/* 
@media screen and (max-width:1000px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width:600px) {
  .container {
    grid-template-columns: 1fr;
  }
} */