* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

ul{
  list-style-type: none;
}

a{
  color: inherit;
  text-decoration: none;
}